{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock title %}

{% block content %}
<h1 class="row justify-content-center">Log in</h1>
<div class="row justify-content-center mt-4">
    <div class="col-md-7 col-lg-5">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-100 my-3">Log in</button>
        </form>
        <p>Forgot Password? <a href="{% url 'password_reset' %}" class="link">Reset Password</a></p>
    </div>
</div>
{% endblock content %}
