<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <!-- Dashboards -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dashboardsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dashboards
        </a>
        <ul class="dropdown-menu" aria-labelledby="dashboardsDropdown">
            <li><a class="dropdown-item" href="{% url 'librarian_dashboard' %}"><i
                        class="text-warning fas fa-tachometer me-2"></i>Librarian</a></li>
            <li><a class="dropdown-item" href="{% url 'student_dashboard' %}"><i
                        class="text-info fas fa-user-graduate me-2"></i>Student
                </a></li>

        </ul>
    </li>
    <!-- Logs -->
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'transaction_logs' %}">
            <i class="fas fa-list me-1"></i>Logs
        </a>
    </li>

    <!-- Books Standalone -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'book_list' %}">Catalogue</a>
    </li>

    <!-- Google Books Standalone -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'google_books_search' %}">
            <i class="fab fa-google me-1"></i>Google Books
        </a>
    </li>

    <!-- Manage (Add Book only now) -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'book_create' %}">
            <i class="fa-solid fa-plus me-1"></i>Add Book
        </a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" data-bs-toggle="dropdown">
            <img src="{{user.profile_image.url}}" alt="User" class="rounded-circle me-2" width="32" height="32">
            <span>{{ user.get_full_name }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="dropdown-item text-danger">Log out</button>
            </form>
        </ul>
    </li>
</ul>
